#loginBtn, #registrazioneBtn, #sendBtn, #lanciaSfidaBtn, #reSendBtn, #terminaBtn, #acceptBtn, #checkBtn {
    -fx-padding: 12px 20px;
}

#loginBtn, #registrazioneBtn, #sendBtn, #terminaBtn, #acceptBtn, #checkBtn {
    -fx-background-color: #009146;
    -fx-text-fill: white;
}

#acceptBtn {
    -fx-background-radius: 0px 0px 15px 0px;
    -fx-border-width: 0px;
}

#declineBtn {
    -fx-background-color: #a30000;
    -fx-text-fill: white;
    -fx-background-radius: 0px 0px 0px 15px;
    -fx-border-width: 0px;
}

#lanciaSfidaBtn, #reSendBtn {
    -fx-background-color: white;
    -fx-text-fill: black;
}

#closeBtn {
    -fx-background-color: transparent;
}

#loginBtn:hover, #registrazioneBtn:hover, #sendBtn:hover, #terminaBtn:hover, #acceptBtn:hover, #checkBtn:hover {
    -fx-background-color: #00AA46;
}

#declineBtn:hover {
    -fx-background-color: #c20404;
}

#lanciaSfidaBtn:hover, #reSendBtn:hover {
    -fx-background-color: #8ccfad;
}

#usernameTF, #passwordTF, #parolaTF {
    -fx-background-color: -fx-text-box-border, -fx-background;
    -fx-background-radius: 0 ;
    -fx-border-width: 0 0 2px;
    -fx-border-color: #b9b9b9;
    -fx-padding: 12px 20px;
    -fx-background-color: white;
    -fx-prompt-text-fill: #c2c2c2;
    -fx-text-fill: black;
}

#usernameTF:focused, #passwordTF:focused, #parolaTF:focused {
    -fx-border-color: #009146;
}

#parolaTF {
    -fx-padding: 12px;
    -fx-alignment: center;
}

#aggiungiAmicoBtn, #listaAmiciBtn, #sfidaBtn, #punteggioBtn, #logoutBtn, #classificaBtn {
    -fx-background-color: transparent;
    -fx-text-fill: #009146;
}

#aggiungiAmicoBtn ImageView, #listaAmiciBtn ImageView, #punteggioBtn ImageView, #logoutBtn ImageView, #classificaBtn ImageView {
    -fx-effect: innershadow( gaussian , #009146 , 10 , 10 , 1 , 1 );
}

#aggiungiAmicoBtn:hover, #listaAmiciBtn:hover, #sfidaBtn:hover, #punteggioBtn:hover, #logoutBtn:hover, #classificaBtn:hover {
    -fx-background-color: #009146;
    -fx-text-fill: white;
}

#aggiungiAmicoBtn:hover ImageView, #listaAmiciBtn:hover ImageView, #punteggioBtn:hover ImageView, #logoutBtn:hover ImageView, #classificaBtn:hover ImageView {
    -fx-effect: innershadow( gaussian , white , 10 , 10 , 1 , 1 );
}

#parolaTF {
    -fx-padding: 12px;
    -fx-alignment: center;
}

#titleLbl, #punteggioLbl, #sfideLbl, #corretteLbl, #errateLbl, #nonForniteLbl, #parolaLbl, #challengeLbl, #usernameLbl, #responseLbl, #errorLbl, #msgLbl {
    -fx-padding: 12px 20px;
    -fx-alignment: center;
}

#usernameLbl, #benvenutoLbl {
    -fx-text-fill: #009146;
}

#usernameLbl {
    -fx-font-size: 18px;
}

#titleLbl {
    -fx-font-size: 20px;
}

#parolaLbl, #challengeLbl {
    -fx-padding: 12px;
}

#punteggioLbl {
    -fx-font-size: 70px;
}

#sfideLbl, #corretteLbl, #errateLbl, #nonForniteLbl, #avversarioLbl, #risultatoLbl, #endLbl {
    -fx-font-size: 30px;
}

#endLbl {
    -fx-alignment: center;
}

#loginPane, #notifyPane {
    -fx-background-color: white;
    -fx-background-radius: 15px;
}

#notifyPane {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10.0, 0.0, 0.0, 0.0);
}

#anchor, #menuPane {
    -fx-background-image: url(bg.png);
}

#menu {
    -fx-background-color: white;
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.6), 0.0, 10.0, -1.0, 0.0);
}

#changeAnchor {
    -fx-background-image: url(wq.png);
}

#infoPane {
    -fx-background-color: white;
    -fx-background-radius: 15px;
    -fx-border-color: #00AA46;
    -fx-border-width: 3px;
    -fx-border-radius: 15px; 
}

#transparentAnchor {
    -fx-background-color: white;
    -fx-opacity: 0.8;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-text-fill: black;
}

.list-cell:filled:selected:focused, .list-cell:filled:hover {
    -fx-background-color: #009146;
    -fx-text-fill: white;
}

.list-cell:filled:selected {
    -fx-text-fill: black;
}

.list-view {
    -fx-background-color: transparent;
    -fx-alignment: center;
}
